# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnpm-store/
jspm_packages/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables / secrets
.env
.env.*
!.env.example

# Next.js
.next/
out/

# Production
/build
dist/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing / coverage
coverage/
.nyc_output/
*.lcov

# Caches
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.npm/

# OS files
.DS_Store
*.pem

# Editor / IDE
.vscode-test/

# Miscellaneous build/tooling
*.tgz
.grunt/
bower_components/
web_modules/
.temp/
.svelte-kit/